body {
    margin: 0;
    background: #ffd0ca;
}
#app {
    min-height: 880px;
    overflow-x: hidden;
}
.pic-bg {
    position: absolute;
    left: 0;
    right: 0;
}
a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    user-select: none;
}
.text-red {
    color: #ff0000;
}
.text-bold {
    font-weight: 900;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}

/* Header 即顶部 css */
.header {
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    margin: auto;
    font-size: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}
.h-left {
    height: 5rem;
    width: 384px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-left: 475px;
}

#menu-button {
    width: 58px;
    display: none;
    margin-right: 20px;
}
#menu-button{
    width: 25px;
    height: 3px;
    background: #ffffff;
    margin: 50px auto;
    position: relative;
}
#menu-button::before{
    position: absolute;
    top: -8px;
    content: '';
    width: 25px;
    height: 3px;
    background: #ffffff;
}
#menu-button::after{
    position: absolute;
    bottom: -8px;
    content: '';
    width: 25px;
    height: 3px;
    background: #ffffff;
}

.h-right {
    width: 384px;
    height: 84px;
    bottom: 0;
    margin-right: 552px;
    transform: translateY(13px);
}

.h-right ul {
    list-style:none;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.h-right ul li {
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
    transition: 0.1s all linear;
    cursor: pointer;
    display: inline-block;
}

li:hover ~ li::before {
    left: 0;
}

.h-right ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0 1rem;
    text-align: center;
    line-height: 5.2rem;
    list-style-type: none;
    cursor: pointer;
}
.navactive-home {
    width: 90px;
}
.navactive-home-menu {
    width: 100%;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.menu-bar-item:hover {
    border-bottom: 6px solid #d1b8ff;
}
.li-bottom-border {
    border-bottom: 6px solid #d1b8ff;
}

/* 中间 内容区域 */
.content {
    /* margin: 0 auto; */
    display: flex;
    flex-flow: wrap;
    /* justify-content: space-between; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center-left {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(30px);
}
.center-right {
    width: 600px;
    transform: translateX(-30px);
}
.content-left-div1 {
    position: relative;
    padding-bottom: 80px;
}
.content-left-div2 {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.download-box {
    width: 12rem;
    height: 3rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    position: relative;
    color: #ffffff;
    border-radius: 0.4rem;
    cursor: pointer;
}
.game-pic img {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    transform: translateX(60px);
}

/* How to play */
/* 基本的样式设置 */
.content-howToPlay {
    display: flex;
    width: 900px; /* 设置整个容器的宽度 */
    min-height: 800px;
    margin: 0 auto;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    padding-top: 6px;
}

.howToPlay-tab {
    flex: 2; /* 左侧占据一部分宽度 */
    height: 312px;
    background-color: transparent; /* 透明背景 */
    background-color: #7265d7;
    margin-top: 5px;
}

.howToPlay-content {
    flex: 5; /* 右侧占据更多的宽度 */
    padding-left: 30px;
}

.tab {
    padding: 15px 20px 15px 25px;
    cursor: pointer;
    background-color: transparent; /* 透明背景 */
    border: none; /* 去除边框 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tab.active {
    background-color: #ffe7f6; /* 设置当前选中标签的背景颜色 */
    color: #945da9; /* 设置当前选中标签的文本颜色 */
}

#tab6Content img {
    transform: scale(0.6);
    transform-origin: left top; /* 左上角为基准点 */
}

.howToPlay-content-return-btn {
    display: none;
}

.howToPlay-content-title-box {
    width: 100%;
    height: 20px;
    display: none;
}

/* 底部 */
.footer {
    width: 100%;
    height: 160px;
    padding-top: 20px;
    font-size: 1rem;
    min-height: 80px;
    text-align: center;
    color: #d9b59c;
    background: #fffdea;
}

.footer a {
    text-decoration: none;
    color: #d9b59c;
    cursor: pointer;
}

/* 通用 */
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.d-inline-block {
    display: inline-block;
}
.hidden {
    display: none;
}
#content-small {
    display: none;
}

/* 动画 */
.animation-left-to-right {
    box-sizing: border-box;
    animation-duration: 1s;
    animation-name: lTOr;
}

#menu-list {
    display: none;
}

#menu-list ul {
    list-style:none;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    height: 100%;
}

#menu-list ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0 1rem;
    text-align: center;
    line-height: 3rem;
    list-style-type: none;
    cursor: pointer;
    height: 100%;
}

@keyframes lTOr {
    from {
      padding-right: 200%;
      width: 100%;
    }
  
    to {
      padding-right: 0%;
      width: 100%;
    }
}

.animation-right-to-left {
    animation-duration: 1s;
    animation-name: rtol;
}

@keyframes rtol {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/* 媒体查询，自适应屏幕 */
@media screen and (max-width: 1800px) {
    .h-left {
        margin-left: 260px;
    }
    .h-right {
        margin-right: 390px;
    }
    #menu-list {
        display: none;
    }
}
@media screen and (max-width: 1500px) {
    .h-left {
        margin-left: 200px;
    }
    .h-right {
        margin-right: 280px;
    }
    #menu-list {
        display: none;
    }
}
@media screen and (max-width: 1250px) {
    .h-left {
        margin-left: 100px;
    }
    .h-right {
        margin-right: 150px;
    }
    #menu-list {
        display: none;
    }
}
@media screen and (max-width: 1060px) {
    .h-left {
        margin-left: 100px;
    }
    .h-right {
        margin-right: 130px;
    }
    #menu-list {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .h-left {
        margin-left: 50px;
    }
    .h-right {
        margin-right: 75px;
    }
    #content {
        display: none!important;
    }
    #content-small {
        display: flex;
        flex-direction: column;
    }
    .center-right {
        transform: translateX(-20px);
    }
    .content-left-div1 {
        padding-bottom: 0;
    }
    .content-left-div2 {
        padding-bottom: 0;
        transform: translateY(-35px);
    }
    .h-right {
        display: none;
    }
    #menu-button {
        display: block;
    }
    #menu-list {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 120px;
        height: 0;
        z-index: 99;
        background-color: #7e68e8;
        overflow: hidden;
    }
}
@media screen and (max-width: 800px) {
    .h-left {
        width: 344px;
        margin-left: 0;
    }
    .h-right {
        margin-right: 0;
    }
    #content {
        display: none;
    }
    #content-small {
        display: flex;
        flex-direction: column;
    }
    .center-right {
        transform: translateX(-20px);
    }
    .content-left-div1 {
        padding-bottom: 0;
    }
    .content-left-div2 {
        padding-bottom: 0;
        transform: translateY(-35px);
    }
    .h-right {
        display: none;
    }
    #menu-button {
        display: block;
    }
    #menu-list {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 120px;
        height: 0;
        z-index: 99;
        background-color: #7e68e8;
        overflow: hidden;
    }
}
@media screen and (max-width: 768px) {
    .h-left {
        width: 324px;
    }
    .header {
        padding-top: 1rem;
        justify-content: center;
    }
    .center-left {
        width: 100%;
    }
    .center-right {
        width: 100%;
    }
    #content {
        display: none;
    }
    #content-small {
        display: flex;
        flex-direction: column;
    }
    .center-right {
        transform: translateX(-20px);
    }
    .content-left-div1 {
        align-items: center;

        padding-bottom: 0;
    }
    .content-left-div1 img {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        position: relative; 
        display: table-cell;
        vertical-align: middle;
		text-align: center;
    }
    .content-left-div2 {
        padding-bottom: 0;
        transform: translateY(-35px);
    }
    .h-right {
        display: none;
    }
    #menu-button {
        display: block;
    }

    #menu-list {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 120px;
        height: 0;
        z-index: 99;
        background-color: #7e68e8;
        overflow: hidden;
    }
}